<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8" />
        <title>OpenStreetMap Heatmap</title>

        <script src="https://www.openstreetmap.org/openlayers/OpenLayers.js" type="text/javascript"></script>
        <script src="https://www.openstreetmap.org/openlayers/OpenStreetMap.js" type="text/javascript"></script>
        <script src="/static/heatcanvas.js"></script>
        <script src="/static/heatcanvas-openlayers.js"></script>
        <script type="text/javascript" src="/static/map.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <style type="text/css">
            #map{ }
        </style>
        <link rel="stylesheet" type="text/css" href="https://www.openstreetmap.org/openlayers/theme/default/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style type="text/css">
        #content {
        display: flex; 
        justify-content: space-between;
        }
        </style>
    </head>

    <body onload="init()">
        <div id="content">
        <div id="map" style="width:850px; height:500px;"></div>
        <div style="height: 497px;width:260px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            As you can see, once there's enough text in this box, the box will grow scroll bars... that's why we call it a scroll box! You could also place an image into the scroll box.
        </div>
        </div>
        <div id="content">
            <div style = "position:relative; left:4px; top:4px">
                <form>
                <select id="Select_Mode" class="btn btn-primary dropdown-toggle" name="Year">
                    <option value="Study Space">Study Space</option>
                    <option value="Food">Food</option>
                    <option value="Commuting">Commuting</option>
                </select>
                <input type="button" class="btn btn-info" value="Select Mode" onclick="" id="setMode"/>
                </form>
            </div>
            <div style = "position:relative; left:4px; top:8px">
                <button type="button" class="btn btn-info" onClick="window.open('https://www.google.co.uk/forms/about');">Leave a review and GET DISCOUNT</button>
                </button>
            </div>
        </div>
    </body>
</html>
